:root {
  --white-color: white;
  --beige-color: #dddfd4;
  --light-green-color: #729f98;
  --light-blue-color: #9ad3de;
  --brown-color: #7d4627;
  --black-color: black;

  --dark-grey-label-color: #666666;
}
