.calendar-container {
  max-height: 620px;
  margin: 8px;
  padding: 0 24px;
  overflow-y: scroll;
}

.name-container {
  display: inline-block;
}

.name-text-box {
  margin: 8px 0;
  padding: 4px;
}

.cta {
  float: right;
  margin: 8px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--cs-white);
}

th {
  padding: 16px;
  border: 1px solid transparent;
  text-align: center;
}

td {
  position: relative;
  padding: 12px;
  max-width: 150px;
  max-height: 50px;
  border: 1px solid var(--cs-dark-grey);
  text-align: center;
}

th {
  background-color: var(--cs-green);
  color: var(--cs-white);
}

.hour-lbl-td {
  position: relative;
  width: 56px;
  font-size: 12px;
  color: var(--cs-red);
  background-color: var(--cs-light-grey);
}

.hour-lbl {
  position: absolute;
  top: 0;
  left: 4px;
  font-weight: 700;
}

td.selected {
  border: none;
  background-color: var(--cs-orange);
  color: var(--cs-white);
}

.selected-course-name {
  display: inline-block;
  word-wrap: break-word;
  font-size: 12px;
}

.remove {
  position: absolute;
  top: -5px;
  right: 2px;
  font-size: 20px;
  cursor: pointer;
}

