.calendar-container {
  max-height: 620px;
  overflow-y: scroll;
  margin: 8px;
  padding: 0 24px;
}

.calendar-container .name-container {
  display: inline-block;
}

.calendar-container .name-text-box {
  margin: 8px 0;
  padding: 4px;
}

.calendar-container .cta {
  float: right;
  margin: 8px;
  cursor: pointer;
}

.calendar-container table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--cs-white);
}

.calendar-container th {
  padding: 15px;
  text-align: center;
  border: 1px solid transparent;
}

.calendar-container td {
  position: relative;
  padding: 12px;
  max-width: 150px;
  max-height: 50px;
  text-align: center;
  border: 1px solid var(--cs-dark-grey);
}

.calendar-container th {
  background-color: var(--cs-green);
  color: var(--cs-white);
}

.calendar-container .hour-lbl-td {
  position: relative;
  width: 56px;
  font-size: 12px;
  color: var(--cs-red);
  background-color: var(--cs-light-grey);
}

.calendar-container .hour-lbl {
  position: absolute;
  top: 0;
  left: 4px;
  font-weight: 700;
}

.calendar-container td.selected {
  background-color: var(--cs-orange);
  border: none;
}

.calendar-container .selected-course-name {
  display: inline-block;
  word-wrap: break-word;
  font-size: 10px;
}

.calendar-container .remove {
  position: absolute;
  top: -5px;
  right: 2px;
  font-size: 20px;
  cursor: pointer;
}

