<div class="calendar-container">
  <h2>Ramya's calendar</h2>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>
        <span class="day">Monday</span>
      </th>
      <th>
        <span class="day">Tuesday</span>
      </th>
      <th>
        <span class="day">Wednesday</span>
      </th>
      <th>
        <span class="day">Thursday</span>
      </th>
      <th>
        <span class="day">Friday</span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="hour-lbl"><span>0.00</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>

