<div class="calendar-container">
  <div class="name-container">
    <h2 [style.display] = "getNameLabelDisplay()">{{name}}</h2>
    <input [style.display] = "getNameInputDisplay()" [(ngModel)]="name" class="name-text-box" placeholder="Your calendar"/>
    <img class="cta" [src]="ctaSrc" height="24" width="24" (click)="onEditName()"/>
  </div>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>
        <span class="day">Monday</span>
      </th>
      <th>
        <span class="day">Tuesday</span>
      </th>
      <th>
        <span class="day">Wednesday</span>
      </th>
      <th>
        <span class="day">Thursday</span>
      </th>
      <th>
        <span class="day">Friday</span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hour of calendar.days[0].hours.slice(7, 19)">
      <td class="hour-lbl-td">
        <span class="hour-lbl">{{hour.getDisplayString()}}</span>
      </td>
      <td *ngFor="let day of calendar.days" [class.selected] = "isHourBlocked(day, hour)">
          <span class="selected-course-name">
            {{getSelectedCourseName(day, hour)}}
            <span *ngIf="getSelectedCourseName(day, hour)" class="remove" (click)="onClick(getCourseFromDayAndHour(day, hour))">&times;</span>
          </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

