.courses-container {
  max-width: 600px;
  max-height: 620px;
  overflow: scroll;
  margin: 8px;
}

.courses {
  margin: 8px 0;
  list-style-type: none;
  padding: 0;
}

.courses li {
  cursor: pointer;
  position: relative;
  left: 0;
  margin: 8px 0;
  padding: 8px;
  background-color: var(--cs-white);
  color: var(--cs-black);
  border-radius: 8px;
}

.courses .desc {
  margin: 4px 0;
  color: var(--cs-dark-grey);
  font-size: 12px;
}

.courses li:hover {
  background-color: var(--cs-yellow);
  left: 4px;
  border-radius: 8px;
}

.courses li:hover > .desc {
  color: var(--cs-dark-grey);
}

.courses li.selected {
  background-color: var(--cs-orange);
}

.courses li.selected > .desc {
  color: var(--cs-light-grey);
}



