.courses-container {
  margin: 8px;
  width: 100%;
  height: 92vh;
}

.courses {
  margin: 8px 0;
  padding: 0;
  height: 84%;
  overflow: scroll;
  list-style-type: none;
}

li {
  cursor: pointer;
  position: relative;
  z-index: 0;
  left: 0;
  margin: 8px 0;
  padding: 8px;
  background-color: var(--cs-white);
  color: var(--cs-black);
  border-radius: 8px;
}

.desc {
  margin: 4px 0;
  color: var(--cs-dark-grey);
  font-size: 12px;
}

li:hover {
  background-color: var(--cs-yellow);
  left: 4px;
  border-radius: 8px;
}

li:hover > .desc {
  color: var(--cs-dark-grey);
}

li.selected {
  background-color: var(--cs-orange);
}

li.selected > .desc {
  color: var(--cs-light-grey);
}

input {
  width: 97%;
  height: 28px;
  border: 1px solid var(--cs-dark-grey);
  color: var(--cs-dark-grey);
  padding-left: 5px;
}

input:focus {
  outline: none;
  border: 3px solid var(--cs-green);
}

.error-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 8px;
  background-color: var(--cs-red);
}

.error {
  margin: 4px;
  padding: 24px;
  font-size: 14px;
  color: var(--cs-white);
}

.error img {
  float: left;
  margin-right: 4px;
}

@media screen and (max-width: 420px) {
  .courses-container {
    height: 50vh;
  }

  .error {
    padding: 24px 8px;
  }
}
